/* ============= global classes and elements ============= */


%paragraph {
    font-size: 14px;
    color: #9C9497;
    font-family: SuisseIntl-Regular;
}

%ion-text{
    color: #1C1917;
    font-size: 14px;
    font-family: SuisseIntl-SemiBold;
    margin-bottom: 5px;
}