
<ion-content fullscreen="true" class="safe-area-top safe-area-bottom">
  <section class="form">
  
    <app-header [headerTitle]="''"></app-header>

    <div class="title">
        <h3>{{ 'Context.SetPassword' | translate }}</h3>
    </div>
    <div class="sub-title">
      <p>{{ 'Context.PleasEnterYourPassword' | translate }} </p>
    </div>
  
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
  
      <ion-list>
  
        <ion-item>
          <ion-label position="floating"> 
            {{ 'Forms.Inputs.Placeholder.Password' | translate }}
          </ion-label>
          <ion-input [type]="!isHidePassword ? 'password' : 'text'" formControlName="password" placeholder="{{ 'Forms.Inputs.Placeholder.Password' | translate }}"></ion-input>
          <ion-button (click)="isHidePassword = !isHidePassword"  slot="end" class="eye-button" fill="clear">
            <ion-icon [name]="!isHidePassword ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
          </ion-button>
          <ng-container *ngIf="isSubmit && form.get('password').errors">
            <small class="error-message" *ngIf="form.get('password').errors.required" >
              {{ 'Forms.Inputs.Validation.EnterPassword' | translate }}
            </small>
            <small class="error-message" *ngIf="form.get('password').errors.pattern" >
              {{ 'Forms.Inputs.Validation.EnterPassword' | translate }}
            </small>
          </ng-container>
        </ion-item>
      
        <ion-item>
          <ion-label position="floating"> 
            {{ 'Forms.Inputs.Validation.EnterConfirmPassword' | translate }}
          </ion-label>
          <ion-input [type]="!isHideconfPassword ? 'password' : 'text'" formControlName="confPassword" placeholder="{{ 'Forms.Inputs.Validation.EnterConfirmPassword' | translate }}"></ion-input>
          <ion-button (click)="isHideconfPassword = !isHideconfPassword"  slot="end" class="eye-button" fill="clear">
            <ion-icon [name]="!isHideconfPassword ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
          </ion-button>
          <ng-container *ngIf="isSubmit && form.get('confPassword').errors">
            <small class="error-message" *ngIf="form.get('confPassword').errors.required" >
              {{ 'Forms.Inputs.Validation.EnterConfirmPassword' | translate }}
            </small>
            <small class="error-message" *ngIf="form.get('confPassword').errors.pattern" >
              {{ 'Forms.Inputs.Validation.PasswordConfirmNotMatch' | translate }}
            </small>
          </ng-container>
        </ion-item>
      </ion-list>
      
    </form>
    
    <div class="footer">
      <ion-button type="submit" class="main-button" (click)="onSubmit()">{{ 'Buttons.Save' | translate }}</ion-button>
    </div>
  </section>


  </ion-content>
  