@import '../../../assets/scss/_global';
ion-content{
    ion-segment{
        background: transparent;
        height: 55px;
        margin-top: 1rem;
        ion-segment-button{
            min-width: 105px;
            height: 34px;
            margin: 0 4px;
            background-color: #F5F5F4;
            display: flex;            
            p{
                font-size: 12px;
                color: #78716C;
                font-family: SuisseIntl-Medium;
                display: flex;
                align-items: center;
                gap: 10px;

                img{
                    display: none;
                }
            }
            
        }
        .segment-button-checked{
            p{
                color: #8F7A63;
            }
        }
    }
}

