
.payment-methods{
    ion-list{
        background-color: transparent;
        ion-radio-group{
            ion-item{
                --background: #F5F4F1;
                --inner-padding-end: 0px;
                --padding-start: 15px;
                --padding-end: 0px;
                margin-top: 0.4rem;
                
                height: 72px;
                background: white;
                --background: #ffffff;
                display: flex;
                border: 2px solid #F3F4F6;
                border-radius: 12px;
                -webkit-border-radius: 12px;
                -moz-border-radius: 12px;
                -ms-border-radius: 12px;
                -o-border-radius: 12px;
                ion-avatar{
                    img{
                        object-fit: contain;
                    }
                }
                ion-label{
                    padding: 0 10px;
                    ion-note{
                        font-size: 12px;
                        color: #78716C;
                        display: block;
                    }
                }
            }
        }
        ion-buttons{
            margin-top: 1rem;
            width: 100%;
            background: #F5F4F1;
            height: 48px;
            ion-button{
                width: 100%;
                color: #000000;
                font-size: 14px;
                font-family: SuisseIntl-Regular;
                img{
                    margin-left: 1rem;
                }
            }
        }
    }
}

:host-context(body[dir="ltr"]) {
    .payment-methods{
        ion-list{
            ion-buttons{
                ion-button{
                    img{
                        margin-left: 0;
                        margin-right: 1rem;
                    }
                }
            }
        }
    }
}
