ion-content{
    section{
        display: flex;
        height: calc(95vh - env(safe-area-inset-top));
        flex-direction: column;
        padding: 1.5rem;
        .title{
            h3{
                color: #1C1917;
                font-family: SuisseIntl-SemiBold;
                font-weight: 500;
                font-size:20px;
                line-height: 26px;
                text-align: right
            }
        }
        .sub-title{
            p{
                color: #78716C;
                font-family: SuisseIntl-Regular;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
            }
        }
    
        form{
            margin-bottom: 2rem;
            ion-list{
                background-color: transparent;
                ion-item{
                    border: 1px solid #8F7A63;
                    border-radius: 10px;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    -ms-border-radius: 10px;
                    -o-border-radius: 10px;
                    margin-top: 10px;
                    position: relative;
                    ion-label{
                        color: #8F7A63;
                        position: absolute;
                        top: -16px;
                    }
                    &.item-has-value > ion-label,
                    &.item-has-focus > ion-label{
                        position: unset;
                    }
                    ion-input{
                        height: 56px;
                    }
                    ion-button{
                        position: absolute;
                        left: 0;
                        top: 20%;
                    }
                }
            
            }
        }
      
        .footer{
            margin-top: auto;
            text-align: center;
            p{
                font-size: 14px;
                color: #181214;
                font-family: SuisseIntl-Regular;
                a{
                    color: #7F6957;
                    font-weight: bold;
                }
            }
        }
    }
}

:host-context(body[dir="ltr"]) {
    section{
        .title{
            h3{
                text-align: left;
            }
        }
        form{
            margin-bottom: 2rem;
            ion-list{
                ion-item{
                    ion-button{
                        left: unset;
                        right: 0;
                    }
                }
            }
        }
     }
}