ion-content{
    section{
        display: flex;
        height: calc(100vh - env(safe-area-inset-top));
        flex-direction: column;
        padding: 1.5rem;
        .logo-container{
            display: flex;
            justify-content: space-between;
            img{}
            ion-buttons{
                transform: rotate(180deg);
                -webkit-transform: rotate(180deg);
                -moz-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                -o-transform: rotate(180deg);
}
        }
        .title{
            h3{
                color: #1C1917;
                font-family: SuisseIntl-SemiBold;
                font-weight: 500;
                font-size:20px;
                line-height: 26px;
                text-align: right
            }
        }
        .sub-title{
            p{
                color: #78716C;
                font-family: SuisseIntl-Regular;
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
            }
        }
    
        form{
            margin-bottom: 2rem;
            ion-list{
                ion-item{
                    // border: 1px solid #E7E5E4;
                    // border-radius: 10px;
                    // -webkit-border-radius: 10px;
                    // -moz-border-radius: 10px;
                    // -ms-border-radius: 10px;
                    // -o-border-radius: 10px;
                    // margin-top: 10px;
                    ion-select{
                        border-left: 1px solid #E7E5E4;
                        margin-left: 1rem;
                    }
                    ion-input{
                        // background-color: #7F6957 !important;
                        // --background: #7F6957 !important;
                        padding: 0 10px !important;
                        ::ng-deep {

                        }
                    }
                }
                .forgit-password{
                    p{
                        color: #78716C;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 20px;
                        font-family: SuisseIntl-Regular;
                    }
                }
            }
        }

        .other-way-to-login{
            position: relative;
            ::after{
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                width: 30%;
                height: 1px;
                background-color: #9C949733;
            }
            ::before{
                content: "";
                position: absolute;
                top: 50%;
                right: 0;
                width: 30%;
                height: 1px;
                background-color: #9C949733;
            }
            p{
                color: #181214;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                font-family: SuisseIntl-Regular;
                text-align: center;
            }
        }
        .other-way-to-login{
        }
        .main-border {
            color: #1C1917;
            font-size: 16px;
            font-family: SuisseIntl-Regular;
            img{
                margin-left: 10px;
            }
        }
        .footer{
            margin-top: auto;
            text-align: center;
            p{
                font-size: 14px;
                color: #181214;
                font-family: SuisseIntl-Regular;
                a{
                    color: #7F6957;
                    font-weight: bold;
                }
            }
        }
    }
}

:host-context(body[dir="ltr"]) {
    section{
        .title{
            h3{
                text-align: left;
            }
        }
        .main-border {
            img{
                margin-left: 0px;
                margin-right: 10px;
            }
        }
    }
}