<ion-router-outlet></ion-router-outlet>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="discover">
      <ion-thumbnail>
        <img alt="" src="assets/icons/tabs/discover.svg" />
      </ion-thumbnail>
      <span>
        {{ 'Tabs.Discover' | translate }}
      </span>
    </ion-tab-button>
    <ion-tab-button tab="reservations">
      <ion-thumbnail>
        <img alt="" src="assets/icons/tabs/calendar.svg" />
      </ion-thumbnail>
      <span>
        {{ 'Tabs.Reservations' | translate }}
      </span>
    </ion-tab-button>
    <ion-tab-button tab="offers">
      <ion-thumbnail>
        <img alt="" src="assets/icons/tabs/offers.svg" />
      </ion-thumbnail>
      <span>
        {{ 'Tabs.Offers' | translate }}
      </span>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-thumbnail>
        <img alt="" src="assets/icons/tabs/profile.svg" />
      </ion-thumbnail>
      <span>
        {{ 'Tabs.Profile' | translate }}
      </span>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>