  <!-- ion-slides -->
  <ion-slides 
    #slides 
    pager="true" 
    class="swiper-slide intro-swiper-slide home-swiper-slide" >

      <ion-slide>
        <div class="slid-container">
          <div class="text">
            <h5>خصومـات وهـدايا كـتير</h5>
            <p>اربحـي معـانا هدية كل ما تقـومي بحجز مـوعد للعنـاية بالبـشرة</p>
          </div>
          <img src="assets/icons/banner/banner.svg" alt="" srcset="">
        </div>
      </ion-slide>
      <ion-slide>
        <div class="slid-container">
          <div class="text">
            <h5>خصومـات وهـدايا كـتير</h5>
            <p>اربحـي معـانا هدية كل ما تقـومي بحجز مـوعد للعنـاية بالبـشرة</p>
          </div>
          <img src="assets/icons/banner/banner.svg" alt="" srcset="">
        </div>
      </ion-slide>
      <ion-slide>
        <div class="slid-container">
          <div class="text">
            <h5>خصومـات وهـدايا كـتير</h5>
            <p>اربحـي معـانا هدية كل ما تقـومي بحجز مـوعد للعنـاية بالبـشرة</p>
          </div>
          <img src="assets/icons/banner/banner.svg" alt="" srcset="">
        </div>
      </ion-slide>
      <ion-slide>
        <div class="slid-container">
          <div class="text">
            <h5>خصومـات وهـدايا كـتير</h5>
            <p>اربحـي معـانا هدية كل ما تقـومي بحجز مـوعد للعنـاية بالبـشرة</p>
          </div>
          <img src="assets/icons/banner/banner.svg" alt="" srcset="">
        </div>
      </ion-slide>
  </ion-slides>
  <!-- end ion-slides -->
  