
ion-card{
  position: relative;
  margin: 0;
  .image{
    img{ }
  }
  ion-card-content{
    padding: 0 !important;
    .details{
      ion-item {
        --background: rgba(255, 255, 255, 0);
        --detail-icon-color: #fff;
        --detail-icon-font-size: 1.8em;
        --detail-icon-opacity: 1;
        --min-height: 35px;
        --inner-padding-start:0;
        --inner-padding-end:0;
        --padding-start: 0;
        --padding-end: 0;
        margin: 6px 0px;
        padding-inline-start: 0;
        padding-inline-end: 0;
        ion-thumbnail{
          max-width: 38px;
          display: flex;
        }
        ion-label { 
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          b{
            font-size: 14px;
            color: #1C1917;
            font-family: SuisseIntl-SemiBold;
          }
          ion-row{
            img{
              width: 14px;
              height: 14px;
            }
            p{
              font-size: 12px;
              color: #44403C;
              font-family: SuisseIntl-Regular;
            }
          }
        }
        ion-buttons{
          padding: 0;
          margin: 0;
        }
        .price{
          s{
            display: inline;
            font-size: 12px;
            color: #78716C;
            font-family: SuisseIntl-Light;
          }
          b{
            font-size: 14px;
            color: #1C1917;
            display: block;
          }
        }
      }
    }
  }
  .heart{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #F5F4F1;
    border-radius: 8px;
  }
}

.labels{
  background-color: #F5F4F1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  width: 145px;
  height: 64px;
  padding: 8px 16px 8px 8px;
  border-radius: 80px;
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px;
  -ms-border-radius: 80px;
  -o-border-radius: 80px;
  margin-top: 1rem;
  .title{
    b{
      font-weight: 500;
      font-size: 12px;
      color: #44403C;
      font-family: SuisseIntl-Medium;
    }
  }
  .icon-container{
    background-color: white;
    padding: 6px;
    border-radius: 100px;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}
}

.specialist{
  margin: 1rem 0;
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: 0px 3px 11px -10px #121212;
  span{
    color: #78716C;
    font-size: 10px;
    font-family: SuisseIntl-Light;
  }

  &:has(input[type='checkbox']:checked){
      border: 1px solid #78716C;
  }
  
  input[type='checkbox'] { 
      display: none;
  }

}
  
.slider-container {
  ion-item::part(detail-icon) {
    background-color: var(--second-color);
    border-radius: 22px;
    height: 22px;
    width: 22px;
  }
  ion-item {
    --background: rgba(255, 255, 255, 0);
    --detail-icon-color: #fff;
    --detail-icon-font-size: 1.8em;
    --detail-icon-opacity: 1;
    --min-height: 35px;
    margin: 12px 0px;
    ion-label {
      b{
        color: #1C1917;
        font-size: 16px;
        font-family: SuisseIntl-Regular;
      }
    }
    span{
      color: #78716C;
      font-size: 12px;
      font-family: SuisseIntl-Regular;
    }
  }
}

ion-slides {
  padding: 0 0px;
  ion-slide {
    padding: 0px 0;
  }
}
  
//   :host-context(body[dir="rtl"]) {}
  